.box-login {
    margin-top: 70px;
    width: 30%;
    min-width: 300px;
    margin: auto;
    padding: 25px;
    box-sizing: border-box;
}

#btn-entrar {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background-color: #0D63A5;
    color: #fff;
}

input {
    width: 100%;
    color: #000;
}

p {
    color: #000;
    font-weight: bolder;
}