/* ul {
    list-style-type: nome;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0D63A5;
}
li {
    float: left;
}

ul li {
    list-style: none;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px;
    text-decoration: nome;
}

lia a:hover:not(.active){
    background-color: #083358;
}

.active {
    background-color: #FFD717;
} */

.Header a {
    color: blue;
}
.hj:hover{
    color: blue;

}
#IMG {
    height: 100px;
}

#letra  {

    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px ;
}
#letra:hover{
    color:blue;
}